<mat-card>
    <mat-card-header>
        <mat-card-title>Formulario Reativo</mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card>
    <mat-card-content>
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

            <app-input-field formControlName="nome" id="nome"></app-input-field>
            <app-input-field formControlName="email" id="email"></app-input-field>

            <div formGroupName="endereco">
                <app-input-field formControlName="cep" id="cep"></app-input-field>

                <div>
                    <app-input-field formControlName="bairro" id="bairro"></app-input-field>
                    <app-input-field formControlName="complemento" id="complemento"></app-input-field>
                    <app-input-field formControlName="ddd" id="ddd"></app-input-field>
                    <app-input-field formControlName="rua" id="rua"></app-input-field>
                    <app-input-field formControlName="cidade" id="cidade"></app-input-field>

                    <mat-form-field>
                        <mat-label>UF</mat-label>
                        <mat-select ngModel formControlName="uf" #UF id="UF" name="UF">
                            <mat-option *ngFor="let estado of estados"
                                [value]="estado.sigla">{{estado.nome}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div>
                <mat-slide-toggle #aceite formControlName="aceite" id="aceite" name="aceite">
                    Aceita os termos?
                </mat-slide-toggle>
            </div>

            <mat-card-actions align="end">
                <button mat-raised-button type="submit">SUBMIT</button>
                <button mat-raised-button type="reset" onclick="reset()">RESET</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>